# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [3]:
sinasc_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [4]:
sinasc_1 = sinasc_raw[['IDADEMAE','IDADEPAI','munResNome']]
sinasc_1.head()

   IDADEMAE  IDADEPAI               munResNome
0        19      26.0    Alta Floresta D'Oeste
1        29      24.0    Alta Floresta D'Oeste
2        37      32.0    Alta Floresta D'Oeste
3        30      24.0  Alto Alegre dos Parecis
4        30      27.0    Alta Floresta D'Oeste

In [5]:
sinasc_1.dropna().groupby('munResNome').aggregate('mean')

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.892857  29.548701
Alto Alegre dos Parecis    24.679104  29.179104
Alto Paraíso               22.833333  28.833333
Alvorada D'Oeste           26.825243  30.757282
Ariquemes                  28.133333  32.466667
Buritis                    24.750000  30.812500
Cabixi                     32.166667  34.333333
Cacaulândia                31.000000  36.333333
Cacoal                     26.978605  30.931854
Campo Novo de Rondônia     24.900000  30.500000
Candeias do Jamari         23.684211  29.894737
Castanheiras               28.071429  30.392857
Cerejeiras                 28.361111  31.652778
Chupinguaia                26.888889  29.629630
Colorado do Oeste          31.161290  34.354839
Corumbiara                 29.000000  32.470588
Costa Marques              25.250000  30.613636
Cujubim                    27.400000  31.400000
Espigão D'Oeste            26.808176  31.198113
Governador Jorge Teixeira  25.555556  29.222222
Guajará-Mirim              26.058824  30.470588
Itapuã do Oeste            31.375000  42.500000
Jaru                       28.450704  32.197183
Ji-Paraná                  27.282819  31.132239
Machadinho D'Oeste         26.048077  31.326923
Ministro Andreazza         27.890411  33.849315
Mirante da Serra           26.928571  32.154762
Monte Negro                27.642857  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   27.104167  30.520833
Nova Mamoré                26.051282  31.692308
Nova União                 27.371429  31.371429
Novo Horizonte do Oeste    26.988235  31.588235
Ouro Preto do Oeste        27.109920  31.233244
Parecis                    26.973684  32.473684
Pimenta Bueno              25.449807  29.745174
Pimenteiras do Oeste       32.600000  35.600000
Porto Velho                28.355655  32.352679
Presidente Médici          26.170854  30.150754
Primavera de Rondônia      28.083333  31.888889
Rio Crespo                 26.000000  28.000000
Rolim de Moura             26.549701  30.360479
Santa Luzia D'Oeste        26.043956  30.703297
Seringueiras               25.058824  30.500000
São Felipe D'Oeste         26.979167  31.395833
São Francisco do Guaporé   26.944444  31.638889
São Miguel do Guaporé      27.469136  32.666667
Teixeirópolis              27.454545  31.500000
Theobroma                  24.916667  30.083333
Urupá                      27.116071  31.008929
Vale do Anari              27.133333  34.000000
Vale do Paraíso            25.604651  29.976744
Vilhena                    30.611765  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [6]:
sinasc_2 = sinasc_raw[['SEXO','PESO','ESCMAE','DTNASC']]

In [22]:
data_nasc_usuario = input("Digite seu mes e dia de aniversario (2019-mm-dd): ")

Digite seu mes e dia de aniversario (2019-mm-dd): 2019-03-09

In [25]:
print(data_nasc_usuario)

2019-03-09

In [27]:
sinasc_2[sinasc_2['DTNASC'] ==  data_nasc_usuario].groupby('ESCMAE')[['PESO']].aggregate('median')

                   PESO
ESCMAE
1 a 3 anos       2590.0
12 anos ou mais  3280.0
4 a 7 anos       3215.0
8 a 11 anos      3190.0

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [8]:
sinasc_1 = sinasc_raw[['IDADEMAE','IDADEPAI','munResNome']]

In [9]:
#vamos assumir que todo bee tem uma mão que foi registrada, logo o numero de  IDADEMAE pode ser usado para contabilizar os bebes.
sinasc_1.groupby('munResNome')['IDADEMAE'].count().sort_values(ascending=False)

munResNome
Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Alvorada D'Oeste              205
Cujubim                       205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: IDADEMAE, dtype: int64

In [10]:
sinasc_1[sinasc_1['munResNome'] == 'Castanheiras'].groupby('munResNome').aggregate(['min', np.median, max])

             IDADEMAE            IDADEPAI
                  min median max      min median   max
munResNome
Castanheiras       17   27.0  39     17.0   31.5  43.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

Pelo exercício anterior podemso ver que a cidade com maior numero de bebes é Porto Velho

In [11]:
sinasc_3 = sinasc_raw[['IDADEMAE','IDADEPAI','munResNome','QTDFILVIVO']]
sinasc_3[sinasc_3['munResNome'] == 'Porto Velho'].groupby('munResNome').aggregate(['min', np.median, max])

            IDADEMAE            IDADEPAI              QTDFILVIVO
                 min median max      min median   max        min median   max
munResNome
Porto Velho       12   26.0  47     16.0   32.0  65.0        0.0    1.0  12.0

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.


Com a análise dos dados é possível notar que houve um parto de uma mulher de 11 anos, a idade media para partos cesáreos é maior que para partos naturais, podendo indicar um risco maior quanto mais idade a mãe possui.

In [12]:
sinasc_4 = sinasc_raw[['IDADEMAE','QTDFILVIVO','PARTO']]

In [13]:
sinasc_4.groupby('PARTO').aggregate(['min', np.median, max])

        IDADEMAE            QTDFILVIVO
             min median max        min median   max
PARTO
Cesáreo       11   27.0  53        0.0    1.0  30.0
Vaginal       12   23.0  53        0.0    1.0  14.0

In [14]:
sinasc_5 = sinasc_raw[['IDADEMAE','QTDFILMORT','PARTO']]

In [15]:
sinasc_5.groupby(['PARTO']).aggregate(['min', np.median, max])

        IDADEMAE            QTDFILMORT
             min median max        min median   max
PARTO
Cesáreo       11   27.0  53        0.0    0.0  28.0
Vaginal       12   23.0  53        0.0    0.0   9.0

In [ ]:
sinasc_raw.dtypes

In [ ]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

In [ ]:
sinasc_raw.columns